280NPLIST;1.0;D;K;29;CPBundleInfoDictionaryVersiond;1;6K;12;CPBundleNameS;4;cappK;18;CPBundleIdentifierS;13;com.280n.cappK;15;CPBundleVersionS;5;0.7.1K;19;CPBundlePackageTypeS;4;APPLK;20;CPBundleEnvironmentsA;S;8;CommonJSE;K;18;CPBundleExecutableS;7;capp.sjK;36;CPBundleEnvironmentsWithImageSpritesA;E;E;