<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CibName</key>
    <string>VirtualMachineSnapshots</string>
    <key>CPBundleLocale</key>
    <string>en</string>
    <key>CPBundleIdentifier</key>
    <string>org.archipelproject.virtualmachinesnapshots</string>
    <key>CPBundleInfoDictionaryVersion</key>
    <string>1.0</string>
    <key>CPBundleName</key>
    <string>VirtualMachineSnapshots</string>
    <key>CPBundlePackageType</key>
    <string>280N</string>
    <key>CPBundleVersion</key>
    <string>1.0</string>
    <key>CPPrincipalClass</key>
    <string>TNVirtualMachineSnapshotsController</string>
    <key>FullscreenModule</key>
    <integer>1</integer>
    <key>InsertionType</key>
    <string>tab</string>
    <key>MandatoryPermissions</key>
    <array>
        <string>snapshot_get</string>
        <string>snapshot_current</string>
    </array>
    <key>PluginDisplayName</key>
    <dict>
        <key>en</key>
        <string>Snaphots</string>
        <key>fr</key>
        <string>Instantanés</string>
    </dict>
    <key>SupportedEntityTypes</key>
    <array>
        <string>virtualmachine</string>
    </array>
    <key>TabIndex</key>
    <integer>4</integer>
    <key>UseModuleMenu</key>
    <integer>1</integer>
</dict>
</plist>
