*.DS_Store
*~
*/Build
*/Documentation
*debug.txt
*Frameworks
*ArchipelClient/Modules.src/**/Build
*ArchipelClient/Modules/**
*.submodules_initialized
*ArchipelServer/build
*ArchipelServer/dist
*ArchipelServer/**.egg-info/**
