[submodule "ArchipelClient/Libraries/Cappuccino"]
	path = ArchipelClient/Libraries/Cappuccino
	url = https://github.com/primalmotion/cappuccino.git
[submodule "ArchipelClient/Libraries/GrowlCappuccino"]
	path = ArchipelClient/Libraries/GrowlCappuccino
	url = https://github.com/primalmotion/GrowlCappuccino.git
[submodule "ArchipelClient/Libraries/StropheCappuccino"]
	path = ArchipelClient/Libraries/StropheCappuccino
	url = https://github.com/primalmotion/StropheCappuccino.git
[submodule "ArchipelClient/Libraries/VNCCappuccino"]
	path = ArchipelClient/Libraries/VNCCappuccino
	url = https://github.com/primalmotion/VNCCappuccino.git
[submodule "ArchipelClient/Libraries/LPKit"]
	path = ArchipelClient/Libraries/LPKit
	url = https://github.com/primalmotion/LPKit.git
[submodule "ArchipelClient/Libraries/TNKit"]
	path = ArchipelClient/Libraries/TNKit
	url = https://github.com/primalmotion/TNKit.git
[submodule "ArchipelAgent/ANSOS"]
	path = ArchipelAgent/ANSOS
	url = https://github.com/primalmotion/Node.git
