*.DS_Store
*~
*/Build
*/Documentation
*debug.txt
*Frameworks
*ArchipelClient/Modules.src/**/Build
*ArchipelClient/Modules/**
*.submodules_initialized
*ArchipelAgent/**/build
*ArchipelAgent/**/dist
*ArchipelAgent/**/*.egg-info/**
