*.DS_Store
*~
*/Build
*/Documentation
*debug.txt
*Frameworks
*ArchipelClient/.cappenvs
*ArchipelClient/ModulesSources/**/Build
*ArchipelClient/Modules/**
*.submodules_initialized
*ArchipelAgent/**/build
*ArchipelAgent/**/dist
*ArchipelAgent/**/*.egg-info/**
*ArchipelClient/.xCodeSupport
*.pyc
*ArchipelClient/Archipel.sublime-workspace
*ArchipelClient/Resources/archipel-commit.js
*ArchipelClient.xcodeproj*
.*.sw*
buildAgent.log
buildCentralAgent.log
ArchipelTest/results/*
ArchipelTest/stateless/*
ArchipelTest/tftpboot/*
ArchipelTest/vm/*
ArchipelTest/testfiles/archipel-hyp-*.xml
ArchipelTest/testfiles/archipel-central-server.qcow2
