<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CibName</key>
	<string>VirtualMachineScheduler</string>
	<key>CPBundleIdentifier</key>
	<string>org.archipelproject.virtualmachinescheduler</string>
	<key>CPBundleInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>CPBundleName</key>
	<string>VirtualMachineScheduler</string>
	<key>CPBundlePackageType</key>
	<string>280N</string>
	<key>CPBundleVersion</key>
	<string>1.0</string>
	<key>CPPrincipalClass</key>
	<string>TNVirtualMachineScheduler</string>
	<key>FullscreenModule</key>
	<integer>1</integer>
	<key>InsertionType</key>
	<string>tab</string>
	<key>MandatoryPermissions</key>
	<array>
		<string>scheduler_jobs</string>
		<string>scheduler_actions</string>
	</array>
	<key>PluginDisplayName</key>
	<string>Scheduler</string>
	<key>SupportedEntityTypes</key>
	<array>
		<string>virtualmachine</string>
		<string>hypervisor</string>
	</array>
	<key>TabIndex</key>
	<integer>8</integer>
	<key>UseModuleMenu</key>
	<integer>1</integer>
</dict>
</plist>
