[Unit]
Description=Archipel Central Agent
Requires=libvirtd.service
After=libvirtd.service

[Service]
ExecStart=/usr/bin/runcentralagent --config=/etc/archipel/archipel-central-agent.conf --nofork
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target

