<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>AlternativePluginDisplayName</key>
    <string>XMPP Server</string>
    <key>CPBundleLocale</key>
    <string>en</string>
    <key>AlternativeToolbarIcon</key>
    <string>icon-alt.png</string>
    <key>CibName</key>
    <string>ToolbarXMPPServer</string>
    <key>CPBundleIdentifier</key>
    <string>org.archipelproject.toolbarxmppserver</string>
    <key>CPBundleInfoDictionaryVersion</key>
    <string>1.0</string>
    <key>CPBundleName</key>
    <string>ToolbarXMPPServer</string>
    <key>CPBundlePackageType</key>
    <string>280N</string>
    <key>CPBundleVersion</key>
    <string>1.0</string>
    <key>CPPrincipalClass</key>
    <string>TNXMPPServerController</string>
    <key>InsertionType</key>
    <string>toolbar</string>
    <key>PluginDisplayName</key>
    <dict>
        <key>en</key>
        <string>XMPP Server</string>
        <key>fr</key>
        <string>Serveur XMPP</string>
    </dict>
    <key>TNArchipelUseEjabberdSharedRosterGroups</key>
    <integer>0</integer>
    <key>ToolbarIcon</key>
    <string>icon.png</string>
    <key>ToolbarIndex</key>
    <string>500</string>
    <key>ToolbarItemOnly</key>
    <integer>0</integer>
    <key>ToolTip</key>
    <dict>
        <key>en</key>
        <string>Display an interface to create XMPP accounts and shared roster groups</string>
        <key>fr</key>
        <string>Affiche l'interface de gestion des serveurs XMPP. Permet de créer des utilisateurs et des groups partagés</string>
    </dict>
</dict>
</plist>
