[Unit]
Description=Archipel Agent
Requires=libvirtd.service
After=libvirtd.service

[Service]
ExecStart=/usr/bin/runarchipel --config=/etc/archipel/archipel.conf --nofork
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
