<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CPBundleIdentifier</key>
        <string>org.archipelproject.virtualmachinenovnc</string>
        <key>CPBundleInfoDictionaryVersion</key>
        <string>1.0</string>
        <key>CPBundleName</key>
        <string>VirtualMachineNOVNC</string>
        <key>CPBundlePackageType</key>
        <string>280N</string>
        <key>CPBundleVersion</key>
        <string>1.0</string>
        <key>CPPrincipalClass</key>
        <string>TNVirtualMachineNOVNCController</string>
        <key>PluginDisplayName</key>
        <string>VNC Console</string>
        <key>InsertionType</key>
        <string>tab</string>
        <key>TabIndex</key>
        <integer>6</integer>
        <key>CibName</key>
        <string>VirtualMachineNOVNC</string>
        <key>SupportedEntityTypes</key>
        <array>
            <string>virtualmachine</string>
        </array>
        <key>UseModuleMenu</key>
		<integer>0</integer>
        
        <key>NOVNCPreferSSL</key>
        <integer>1</integer>
        
        <!--
            set the time in ms for the framebuffer refresh
            the higher the value, the lower the performances
            the lower the value, the higher performances (but is more CPU / network intensive)
        -->
        <key>NOVNCFBURate</key>
        <integer>141</integer>
        
        <!--
            set the time in ms for the event check refresh
            the higher the value, the lower the performances
            the lower the value, the higher performances (but is more CPU / network intensive)
        -->
        <key>NOVNCheckRate</key>
        <integer>30</integer>
    </dict>
</plist>
