<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Avatars</key>
        <array>
            <dict>
                <key>name</key>
                <string>Earth</string>
                <key>path</key>
                <string>Avatars/avatar-1.png</string>
            </dict>
            <dict>
                <key>name</key>
                <string>Dinosaur</string>
                <key>path</key>
                <string>Avatars/avatar-2.png</string>
            </dict>
            <dict>
                <key>name</key>
                <string>Archipel</string>
                <key>path</key>
                <string>Avatars/avatar-3.png</string>
            </dict>
            <dict>
                <key>name</key>
                <string>Water</string>
                <key>path</key>
                <string>Avatars/avatar-4.png</string>
            </dict>
            <dict>
                <key>name</key>
                <string>Toaster</string>
                <key>path</key>
                <string>Avatars/avatar-5.png</string>
            </dict>
            <dict>
                <key>name</key>
                <string>Motherboard</string>
                <key>path</key>
                <string>Avatars/avatar-6.png</string>
            </dict>
            <dict>
                <key>name</key>
                <string>Beer</string>
                <key>path</key>
                <string>Avatars/avatar-7.png</string>
            </dict>
            <dict>
                <key>name</key>
                <string>Fruit</string>
                <key>path</key>
                <string>Avatars/avatar-8.png</string>
            </dict>
            <dict>
                <key>name</key>
                <string>Star</string>
                <key>path</key>
                <string>Avatars/avatar-9.png</string>
            </dict>
            <dict>
                <key>name</key>
                <string>Enstein</string>
                <key>path</key>
                <string>Avatars/avatar-10.png</string>
            </dict>
            
        </array>
    </dict>
</plist>