<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CPBundleIdentifier</key>
    <string>org.archipelproject.archipel</string>
    <key>Main cib file base name</key>
    <string>MainMenu.cib</string>
    <key>CPBundleName</key>
    <string>Archipel</string>
    <key>CPPrincipalClass</key>
    <string>CPApplication</string>
    <key>CPBundleIconFile</key>
    <string>icon.png</string>
    
    
    <key>TNArchipelBOSHService</key>
    <string>http://virt-hyperviseur:5280/http-bind</string>

    <key>TNArchipelBOSHResource</key>
    <string>ArchipelController</string>
    
    
    <!--
        URL of crash reporting
    -->
    <key>LPCrashReporterLoggingURL</key>
    <string>http://antoinemercadal.fr/archipelCrashReporting/reports.php</string>
    
    <!-- 
        Local storage information. It can be 
            - TNUserDefaultStorageTypeHTML5
            - TNUserDefaultStorageTypeCookie
            - TNUserDefaultStorageTypeNoStorage
    -->
    <key>TNUserDefaultStorageType</key>
    <string>TNUserDefaultStorageTypeHTML5</string>
    
    <!--
        Url of the welcome page. It can be any URL (online) or "local" to 
        display the defaut welcome page (offline)
    -->
    <key>TNArchipelHelpWindowURL</key>
    <string>http://antoinemercadal.fr/archipelhelp/</string>
    
    <!--
        Time in second before starting to load modules when roster selection changes
        this avoid to spam XMPP server
    -->
    <key>TNArchipelModuleLoadingDelay</key>
    <real>0.15</real>
    
    <!--
        Use animations
    -->
    <key>TNArchipelUseAnimations</key>
    <integer>1</integer>
    
    <!--
        if TNArchipelUseAnimations is 1, set the animation duration
    -->
    <key>TNArchipelAnimationsDuration</key>
    <real>0.3</real>
    
    <!--
        Copyright message
    -->
    <key>TNArchipelCopyright</key>
    <string>Copyright © 2010 Antoine Mercadal</string>
    
    <!--
        Displayed version of Archipel Client
    -->
    <key>TNArchipelVersion</key>
    <string>Archipel Alpha-0.3 (Mercury)</string>
    
    <!--
        If set to 1, StropheCappuccino will be in debug mode.
    -->
    <key>TNStropheCappuccinoDebugMode</key>
    <integer>1</integer>
    
</dict>
</plist>
