<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CPBundleLocale</key>
    <string>en</string>

    <key>CPSystemFontFace</key>
    <string>Asap</string>


    <key>ArchipelCheckNodeAdminAccount</key>
    <integer>1</integer>
    <key>ArchipelDefaultAdminAccounts</key>
    <array>
        <string>admin</string>
    </array>
    <key>CFBundleIconFile</key>
    <string>icon.icns</string>
    <key>CPBundleIdentifier</key>
    <string>org.archipelproject.archipel</string>
    <key>CPBundleName</key>
    <string>Archipel</string>
    <key>CPPrincipalClass</key>
    <string>CPApplication</string>
    <key>LPCrashReporterLoggingURL</key>
    <string>http://crashes.archipelproject.org/reports.php</string>
    <key>Main cib file base name</key>
    <string>MainMenu.cib</string>
    <key>TNArchipelAnimationsDuration</key>
    <real>0.3</real>
    <key>TNArchipelAutoCheckUpdate</key>
    <integer>1</integer>
    <key>TNArchipelBOSHResource</key>
    <string>ArchipelController</string>
    <key>TNArchipelBOSHService</key>
    <string>http://jabber.archipelproject.org:5280/http-bind</string>
    <key>TNArchipelConsoleDebugLevel</key>
    <string>warn</string>
    <key>TNArchipelCopyright</key>
    <string>Copyright 2011 Antoine Mercadal</string>
    <key>TNArchipelDisplayXMPPManageContactsButton</key>
    <integer>1</integer>
    <key>TNArchipelModuleLoadingDelay</key>
    <real>0.15</real>
    <key>TNArchipelMonitorStanza</key>
    <integer>0</integer>
    <key>TNHideOfflineContacts</key>
    <integer>0</integer>
    <key>TNArchipelUpdateServerURL</key>
    <string>http://updates.archipelproject.org</string>
    <key>TNArchipelUseAnimations</key>
    <integer>0</integer>
    <key>TNArchipelVersion</key>
    <dict>
        <key>major</key>
        <integer>0</integer>
        <key>minor</key>
        <integer>5</integer>
        <key>revision</key>
        <integer>0</integer>
        <key>codeName</key>
        <string>Moon</string>
    </dict>
    <key>TNArchipelPropertyControllerEnabled</key>
    <integer>1</integer>
    <key>TNArchipelScrollersStyle</key>
    <string>Overlay</string>
</dict>
</plist>
