<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version = "1.0"><dict><key>CPBundleInfoDictionaryVersion</key><integer>6</integer><key>CPBundleName</key><string>capp</string><key>CPBundleIdentifier</key><string>com.280n.capp</string><key>CPBundleVersion</key><string>0.7.1</string><key>CPBundlePackageType</key><string>APPL</string><key>CPBundleEnvironments</key><array><string>CommonJS</string></array><key>CPBundleExecutable</key><string>capp.sj</string><key>CPBundleReplacedFiles</key><dict><key>CommonJS</key><array><string>Configuration.j</string><string>Generate.j</string><string>main.j</string></array></dict></dict></plist>