280NPLIST;1.0;D;K;29;CPBundleInfoDictionaryVersiond;1;6K;12;CPBundleNameS;7;nib2cibK;18;CPBundleIdentifierS;16;com.280n.nib2cibK;15;CPBundleVersionS;5;0.7.9K;19;CPBundlePackageTypeS;4;APPLK;20;CPBundleEnvironmentsA;S;8;CommonJSE;K;18;CPBundleExecutableS;10;nib2cib.sjK;36;CPBundleEnvironmentsWithImageSpritesA;E;E;