<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CPBundleIdentifier</key>
        <string>org.archipelproject.virtualmachinedefinition</string>
        <key>CPBundleInfoDictionaryVersion</key>
        <string>1.0</string>
        <key>CPBundleName</key>
        <string>VirtualMachineDefinition</string>
        <key>CPBundlePackageType</key>
        <string>280N</string>
        <key>CPBundleVersion</key>
        <string>1.0</string>
        <key>CPPrincipalClass</key>
        <string>VirtualMachineDefinitionController</string>
        <key>PluginDisplayName</key>
        <string>Definition</string>
        <key>InsertionType</key>
		<string>tab</string>
		<key>TabIndex</key>
		<integer>1</integer>		
        <key>CibName</key>
        <string>VirtualMachineDefinition</string>
    	<key>SupportedEntityTypes</key>
		<array>
			<string>virtualmachine</string>
		</array>
		<key>UseModuleMenu</key>
		<integer>1</integer>
        
		<key>TNDescDefaultNumberCPU</key>
		<string>1</string>
		<key>TNDescDefaultMemory</key>
		<string></string>
		<key>TNDescDefaultBoot</key>
		<string>hd</string>
		<key>TNDescDefaultArchitecture</key>
		<string>x86_64</string>
		<key>TNDescDefaultHypervisor</key>
		<string>kvm</string>
		<key>TNDescDefaultVNCKeymap</key>
		<string>en-us</string>
		<key>TNDescDefaultOnPowerOff</key>
		<string>destroy</string>
		<key>TNDescDefaultOnReboot</key>
		<string>restart</string>
		<key>TNDescDefaultOnCrash</key>
		<string>restart</string>
		<key>TNDescDefaultClockOffset</key>
		<string>utc</string>
		<key>TNDescDefaultPAE</key>
		<integer>0</integer>
		<key>TNDescDefaultACPI</key>
		<integer>0</integer>
		<key>TNDescDefaultAPIC</key>
		<integer>0</integer>
		<key>TNDescDefaultHugePages</key>
        <integer>0</integer>
        <key>TNDescDefaultInputType</key>
        <string>mouse</string>
        
        <key>MandatoryPermissions</key>
        <array>
            <string>xmldesc</string>
            <string>capabilities</string>
        </array>
    </dict>
</plist>
