<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CibName</key>
    <string>UserChat</string>
    <key>CPBundleLocale</key>
    <string>en</string>
    <key>CPBundleIdentifier</key>
    <string>org.archipelproject.userchat</string>
    <key>CPBundleInfoDictionaryVersion</key>
    <string>1.0</string>
    <key>CPBundleName</key>
    <string>UserChat</string>
    <key>CPBundlePackageType</key>
    <string>280N</string>
    <key>CPBundleVersion</key>
    <string>1.0</string>
    <key>CPPrincipalClass</key>
    <string>TNUserChatController</string>
    <key>InsertionType</key>
    <string>tab</string>
    <key>PluginDisplayName</key>
    <dict>
        <key>en</key>
        <string>Chat</string>
        <key>fr</key>
        <string>Discussion</string>
        <key>de</key>
        <string>Chat</string>
    </dict>
    <key>SupportedEntityTypes</key>
    <array>
        <string>user</string>
        <string>hypervisor</string>
        <string>virtualmachine</string>
    </array>
    <key>TabIndex</key>
    <integer>10</integer>
    <key>TNUserChatMaxMessageStore</key>
    <integer>20</integer>
    <key>UseModuleMenu</key>
    <integer>1</integer>
    <key>FullscreenModule</key>
    <integer>1</integer>
</dict>
</plist>
