<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlternativePluginDisplayName</key>
	<string>Hide Map</string>
	<key>CPBundleLocale</key>
	<string>en</string>
	<key>AlternativeToolbarIcon</key>
	<string>icon-alt.png</string>
	<key>CibName</key>
	<string>ToolbarMapView</string>
	<key>CPBundleIdentifier</key>
	<string>org.archipelproject.toolbarmapview</string>
	<key>CPBundleInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>CPBundleName</key>
	<string>ToolbarMapView</string>
	<key>CPBundlePackageType</key>
	<string>280N</string>
	<key>CPBundleVersion</key>
	<string>1.0</string>
	<key>CPPrincipalClass</key>
	<string>TNMapViewController</string>
	<key>InsertionType</key>
	<string>toolbar</string>
	<key>PluginDisplayName</key>
	<string>Map View</string>
	<key>ToolbarIcon</key>
	<string>icon.png</string>
	<key>ToolbarIndex</key>
	<string>503</string>
	<key>ToolbarItemOnly</key>
	<integer>0</integer>
	<key>ToolTip</key>
	<string>Show a world map and localize your hypervisors</string>
</dict>
</plist>
