<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CibName</key>
	<string>VirtualMachineAppliances</string>
	<key>CPBundleIdentifier</key>
	<string>org.archipelproject.virtualmachineappliances</string>
	<key>CPBundleInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>CPBundleName</key>
	<string>VirtualMachineAppliances</string>
	<key>CPBundlePackageType</key>
	<string>280N</string>
	<key>CPBundleVersion</key>
	<string>1.0</string>
	<key>CPPrincipalClass</key>
	<string>TNVirtualMachineAppliancesController</string>
	<key>FullscreenModule</key>
	<integer>1</integer>
	<key>InsertionType</key>
	<string>tab</string>
	<key>MandatoryPermissions</key>
	<array>
		<string>appliance_get</string>
	</array>
	<key>PluginDisplayName</key>
	<string>Appliances</string>
	<key>SupportedEntityTypes</key>
	<array>
		<string>virtualmachine</string>
	</array>
	<key>TabIndex</key>
	<integer>2</integer>
	<key>UseModuleMenu</key>
	<integer>1</integer>
</dict>
</plist>
