<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CPBundleIdentifier</key>
    <string>org.archipelproject.ToolbarDestroyButton</string>
    <key>CPBundleLocale</key>
    <string>en</string>
    <key>CPBundleInfoDictionaryVersion</key>
    <string>1.0</string>
    <key>CPBundlePackageType</key>
    <string>280N</string>
    <key>CPBundleVersion</key>
    <string>1.0</string>
    <key>CPBundleName</key>
    <string>ToolbarDestroyButton</string>
    <key>CPPrincipalClass</key>
    <string>TNToolbarDestroyButtonController</string>
    <key>PluginDisplayName</key>
    <dict>
        <key>en</key>
        <string>Force Off</string>
        <key>fr</key>
        <string>Forcer l'arrêt</string>
    </dict>
    <key>ToolTip</key>
    <dict>
        <key>en</key>
        <string>Destroy the current selected virtual machine</string>
        <key>fr</key>
        <string>Détruit la machine virtuelle sélectionnée</string>
    </dict>
    <key>AlternativePluginDisplayName</key>
    <string></string>
    <key>InsertionType</key>
    <string>toolbar</string>
    <key>ToolbarIndex</key>
    <string>105</string>
    <key>ToolbarIcon</key>
    <string>icon.png</string>
    <key>ToolbarItemOnly</key>
    <integer>1</integer>
    <key>AlternativeToolbarIcon</key>
    <string>icon-alt.png</string>
</dict>
</plist>
