<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Modules</key>
        <array>
            <!-- <dict>
                            <key>folder</key>
                            <string>GroupManagement</string>
                        </dict>
                        <dict>
                            <key>folder</key>
                            <string>HypervisorHealth</string>
                        </dict>
                        <dict>
                            <key>folder</key>
                            <string>HypervisorNetworks</string>
                        </dict>
                        <dict>
                            <key>folder</key>
                            <string>HypervisorVMCasts</string>
                        </dict>
                        <dict>
                            <key>folder</key>
                            <string>HypervisorVMCreation</string>
                        </dict>
                        <dict>
                            <key>folder</key>
                            <string>ToolbarLogs</string>
                        </dict>
                        <dict>
                            <key>folder</key>
                            <string>ToolbarMapView</string>
                        </dict>
                        <dict>
                            <key>folder</key>
                            <string>ToolbarPauseButton</string>
                        </dict>
                        <dict>
                            <key>folder</key>
                            <string>ToolbarPlayButton</string>
                        </dict>
                        <dict>
                            <key>folder</key>
                            <string>ToolbarStopButton</string>
                        </dict>
                        <dict>
                            <key>folder</key>
                            <string>UserChat</string>
                        </dict>
                        <dict>
                            <key>folder</key>
                            <string>VirtualMachineAppliances</string>
                        </dict> -->
            <dict>
                <key>folder</key>
                <string>VirtualMachineControls</string>
            </dict>
            <dict>
                <key>folder</key>
                <string>VirtualMachineDefinition</string>
            </dict>
            <!--<dict>
                <key>folder</key>
                <string>VirtualMachineDrives</string>
            </dict>
            <dict>
                <key>folder</key>
                <string>VirtualMachineSnapshots</string>
            </dict>
            <dict>
                <key>folder</key>
                <string>VirtualMachineVNC</string>
            </dict> -->

        </array>
    </dict>
</plist>