<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlternativePluginDisplayName</key>
	<string>Conference</string>
	<key>AlternativeToolbarIcon</key>
	<string>icon-alt.png</string>
	<key>CibName</key>
	<string>MUCChatNIB</string>
	<key>CPBundleIdentifier</key>
	<string>org.archipelproject.mucchat</string>
	<key>CPBundleInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>CPBundleName</key>
	<string>MUCChat</string>
	<key>CPBundlePackageType</key>
	<string>280N</string>
	<key>CPBundleVersion</key>
	<string>1.0</string>
	<key>CPPrincipalClass</key>
	<string>TNMUCChatController</string>
	<key>InsertionType</key>
	<string>toolbar</string>
	<key>PluginDisplayName</key>
	<string>Conference</string>
	<key>TNArchipelMUCDefaultRoom</key>
	<string>archipel-general</string>
	<key>TNArchipelMUCDefaultService</key>
	<string>conference.jabber.archipelproject.org</string>
	<key>ToolbarIcon</key>
	<string>icon.png</string>
	<key>ToolbarIndex</key>
	<string>501</string>
	<key>ToolbarItemOnly</key>
	<integer>0</integer>
	<key>ToolTip</key>
	<string>This module allows to talk in a jabber chat room</string>
</dict>
</plist>
