<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CPBundleIdentifier</key>
        <string>org.archipelproject.toolbarlogs</string>
        <key>CPBundleInfoDictionaryVersion</key>
        <string>1.0</string>
        <key>CPBundlePackageType</key>
        <string>280N</string>
        <key>CPBundleVersion</key>
        <string>1.0</string>
        <key>CPBundleName</key>
        <string>ToolbarLogs</string>
        <key>CPPrincipalClass</key>
        <string>TNToolbarLogs</string>
        <key>PluginDisplayName</key>
        <string>Logs</string>
        <key>AlternativePluginDisplayName</key>
        <string>Hide Logs</string>
        <key>InsertionType</key>
        <string>toolbar</string>
        <key>ToolbarIndex</key>
        <string>9</string>
        <key>ToolbarIcon</key>
        <string>icon.png</string>
        <key>AlternativeToolbarIcon</key>
        <string>icon-alt.png</string>
        <key>CibName</key>
        <string>ToolbarLogs</string>
        <key>TNDefaultLogLevel</key>
        <string>info</string>
    </dict>
</plist>
