<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CPBundleIdentifier</key>
        <string>org.archipelproject.hypervisorvmcreation</string>
        <key>CPBundleInfoDictionaryVersion</key>
        <string>1.0</string>
        <key>CPBundleName</key>
        <string>HypervisorVMCreation</string>
        <key>CPBundlePackageType</key>
        <string>280N</string>
        <key>CPBundleVersion</key>
        <string>1.0</string>
        <key>CPPrincipalClass</key>
        <string>TNHypervisorVMCreation</string>
        <key>PluginDisplayName</key>
        <string>Virtual Machines</string>
		<key>TabIndex</key>
		<integer>1</integer>
		<key>SupportedEntityTypes</key>
		<array>
			<string>hypervisor</string>
		</array>		
        <key>CibName</key>
        <string>HypervisorVMCreation</string>
    </dict>
</plist>
