<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlternativePluginDisplayName</key>
	<string>XMPP Server</string>
	<key>AlternativeToolbarIcon</key>
	<string>icon-alt.png</string>
	<key>CibName</key>
	<string>ToolbarXMPPServerNIB</string>
	<key>CPBundleIdentifier</key>
	<string>org.archipelproject.toolbarxmppserver</string>
	<key>CPBundleInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>CPBundleName</key>
	<string>ToolbarXMPPServer</string>
	<key>CPBundlePackageType</key>
	<string>280N</string>
	<key>CPBundleVersion</key>
	<string>1.0</string>
	<key>CPPrincipalClass</key>
	<string>TNXMPPServerController</string>
	<key>InsertionType</key>
	<string>toolbar</string>
	<key>PluginDisplayName</key>
	<string>XMPP Server</string>
	<key>ToolbarIcon</key>
	<string>icon.png</string>
	<key>ToolbarIndex</key>
	<string>500</string>
	<key>ToolbarItemOnly</key>
	<integer>0</integer>
	<key>ToolTip</key>
	<string>Display an interface to create XMPP accounts and shared roster groups</string>
</dict>
</plist>
