<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CPBundleIdentifier</key>
        <string>org.archipelproject.virtualmachinepackaging</string>
        
        <key>CPBundleInfoDictionaryVersion</key>
        <string>1.0</string>
        
        <key>CPBundlePackageType</key>
        <string>280N</string>
        
        <key>CPBundleVersion</key>
        <string>1.0</string>
        
        <key>CPBundleName</key>
        <string>VirtualMachinePackaging</string>
        
        <key>CPPrincipalClass</key>
        <string>TNVirtualMachinePackaging</string>
        
        <key>PluginDisplayName</key>
        <string>Appliances</string>
        
        <key>TabIndex</key>
        <integer>2</integer>
        
        <key>InsertionType</key>
        <string>tab</string>
        
        <key>SupportedEntityTypes</key>
        <array>
            <string>virtualmachine</string>
        </array>
        
        <key>CibName</key>
        <string>VirtualMachinePackaging</string>
    </dict>
</plist>
