<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CPBundleIdentifier</key>
    <string>org.archipelproject.ToolbarPlatformRequestVM</string>
    <key>CPBundleLocale</key>
    <string>en</string>
    <key>CPBundleInfoDictionaryVersion</key>
    <string>1.0</string>
    <key>CPBundlePackageType</key>
    <string>280N</string>
    <key>CPBundleVersion</key>
    <string>1.0</string>
    <key>CPBundleName</key>
    <string>ToolbarPlatformRequestVM</string>
    <key>CPPrincipalClass</key>
    <string>TNToolbarPlatformRequestVMController</string>
    <key>PluginDisplayName</key>
    <dict>
        <key>en</key>
        <string>New VM</string>
        <key>fr</key>
        <string>Nouvelle VM</string>
    </dict>
    <key>AlternativePluginDisplayName</key>
    <string></string>
    <key>InsertionType</key>
    <string>toolbar</string>
    <key>ToolbarIndex</key>
    <string>107</string>
    <key>ToolbarIcon</key>
    <string>icon.png</string>
    <key>ToolbarItemOnly</key>
    <integer>1</integer>
    <key>AlternativeToolbarIcon</key>
    <string>icon-alt.png</string>
    <key>ToolTip</key>
    <dict>
        <key>en</key>
        <string>Ask a new virtual machine to your cloud (needs an ejabberd patch)</string>
        <key>fr</key>
        <string>Demande une nouvelle machine virtuelle à la plateforme (nécéssite un patch ejabberd)</string>
    </dict>
</dict>
</plist>
